/Debug/
*/*.o
Image
.project
.cproject
.settings/*
System.map
boot/bootsect
boot/setup
kernel/blk_drv/blk_drv.a
kernel/blk_drv/floppy.o
kernel/blk_drv/hd.o
kernel/blk_drv/ll_rw_blk.o
kernel/blk_drv/ramdisk.o
kernel/chr_drv/chr_drv.a
kernel/chr_drv/console.o
kernel/chr_drv/keyboard.o
kernel/chr_drv/keyboard.s
kernel/chr_drv/rs_io.o
kernel/chr_drv/serial.o
kernel/chr_drv/tty_io.o
kernel/chr_drv/tty_ioctl.o
kernel/math/math.a
kernel/math/math_emulate.o
lib/lib.a
tools/system
.idea/*
